
<section id="about" class="py-5">
  <div class="container">
    <h2>About Boda Boda</h2>
    <p>
      Boda Boda is a transportation service that provides motorcycle taxis commonly used in many African countries. They
      are an affordable and efficient means of transportation, especially in crowded urban areas where cars may struggle to
      navigate. Boda Boda drivers are experienced in maneuvering through traffic, providing quick and convenient rides to
      passengers.
    </p>
    <img src="../../../assets/bodaboda series on Behance_files/43511132651319.568dee80de1d9.jpg" alt="">
  </div>
</section>
