<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center">Login</h5>
        </div>
        <div class="card-body">
          <form >
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email"  placeholder="Enter your email">
            </div><br>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password"  placeholder="Enter your password">
            </div><br>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="remember">
              <label class="form-check-label" for="remember">Remember me</label>
            </div><br>
            <button type="submit" class="btn btn-primary btn-block" [routerLink]="['/home']">Login</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          Don't have an account? <a href="#">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
